In [120]:
from my_functions import *
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [121]:
x, y = load_data("data/student-mat.csv")

C:\Users\Admin\Desktop\Project\my_functions.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_num[column] = non_num[column].apply(lambda x: column[0].lower() + "_" + x)

In [122]:
x

,school,sex,age,higher,activities,G1,G2,m_at_home,m_health,m_other,m_services,f_at_home,f_health,f_other,f_services
0,0,0,18,1,0,5,6,1,0,0,0,0,0,0,0
1,0,0,17,1,0,5,5,1,0,0,0,0,0,1,0
2,0,0,15,1,0,7,8,1,0,0,0,0,0,1,0
3,0,0,15,1,1,15,14,0,1,0,0,0,0,0,1
4,0,0,16,1,0,6,10,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,0,9,9,0,0,0,1,0,0,0,1
391,1,1,17,1,0,14,16,0,0,0,1,0,0,0,1
392,1,1,21,1,0,10,8,0,0,1,0,0,0,1,0
393,1,1,18,1,0,11,12,0,0,0,1,0,0,1,0
394,1,1,19,1,0,8,9,0,0,1,0,1,0,0,0

In [125]:
x["age"].min()

15

In [126]:
x["age"].dtype

dtype('int64')

In [127]:
x["sex"].dtype

dtype('int32')

In [99]:
y

0       6
1       6
2      10
3      15
4      10
       ..
390     9
391    16
392     7
393    10
394     9
Name: G3, Length: 395, dtype: int64

In [100]:
x, y  = pd_to_np(x,y)

In [101]:
x

array([[ 0.,  0., 18., ...,  0.,  0.,  0.],
       [ 0.,  0., 17., ...,  0.,  1.,  0.],
       [ 0.,  0., 15., ...,  0.,  1.,  0.],
       ...,
       [ 1.,  1., 21., ...,  0.,  1.,  0.],
       [ 1.,  1., 18., ...,  0.,  1.,  0.],
       [ 1.,  1., 19., ...,  0.,  0.,  0.]])

In [102]:
y

array([ 6.,  6., 10., 15., 10., 15., 11.,  6., 19., 15.,  9., 12., 14.,
       11., 16., 14., 14., 10.,  5., 10., 15., 15., 16., 12.,  8.,  8.,
       11., 15., 11., 11., 12., 17., 16., 12., 15.,  6., 18., 15., 11.,
       13., 11., 12., 18., 11.,  9.,  6., 11., 20., 14.,  7., 13., 13.,
       10., 11., 13., 10., 15., 15.,  9., 16., 11., 11.,  9.,  9., 10.,
       15., 12.,  6.,  8., 16., 15., 10.,  5., 14., 11., 10., 10., 11.,
       10.,  5., 12., 11.,  6., 15., 10.,  8.,  6., 14., 10.,  7.,  8.,
       18.,  6., 10., 14., 10., 15., 10., 14.,  8.,  5., 17., 14.,  6.,
       18., 11.,  8., 18., 13., 16., 19., 10., 13., 19.,  9., 16., 14.,
       13.,  8., 13., 15., 15., 13., 13.,  8., 12., 11.,  9.,  0., 18.,
        0.,  0., 12., 11.,  0.,  0.,  0.,  0., 12., 15.,  0.,  9., 11.,
       13.,  0., 11.,  0., 11.,  0., 10.,  0., 14., 10.,  0., 12.,  8.,
       13., 10., 15., 12.,  0.,  7.,  0., 10.,  7., 12., 10., 16.,  0.,
       14.,  0., 16., 10.,  0.,  9.,  9., 11.,  6.,  9., 11.,  8., 12.,
       17.,  8., 12., 11., 11., 15.,  9., 10., 13.,  9.,  8., 10., 14.,
       15., 16., 10., 18., 10., 16., 10., 10.,  6., 11.,  9.,  7., 13.,
       10.,  7.,  8., 13., 14.,  8., 10., 15.,  4.,  8.,  8., 10.,  6.,
        0., 17., 13., 14.,  7., 15., 12.,  9., 12., 14., 11.,  9., 13.,
        6., 10., 13., 12., 11.,  0., 12., 12.,  0., 12.,  0., 18., 13.,
        8.,  5., 15.,  8., 10.,  8.,  8., 12.,  8., 13., 11., 14.,  0.,
       18.,  8., 12.,  9.,  0., 17., 10., 11., 10.,  0.,  9., 14., 11.,
       14., 10., 12.,  9.,  9.,  8., 10.,  8., 10., 12., 10., 11., 11.,
       19., 12., 14., 15., 11., 15., 13., 18., 14., 11.,  0.,  8., 14.,
       16., 11., 10., 14., 18., 13., 12., 18.,  8., 12., 10.,  0., 13.,
       11., 11., 13., 11.,  0.,  9., 10., 11., 13.,  9., 11., 15., 15.,
       11., 16., 10.,  9., 14.,  8., 14.,  0.,  0.,  0., 15., 13.,  0.,
       17., 10., 11.,  0., 15.,  0., 10., 14., 16.,  9., 15., 13.,  8.,
       13.,  8.,  8., 11.,  9., 13., 11., 10., 16., 13., 12., 10., 15.,
       12., 10., 13.,  0., 10., 11.,  9., 12., 11.,  5., 19., 10., 15.,
       10., 15., 10., 14.,  7., 10.,  0.,  5., 10.,  6.,  0.,  8.,  0.,
        9., 16.,  7., 10.,  9.])

In [103]:
def normalize(x):
    """

    Performs feature scaling in the range [0,1] by division of each feature by its maximum value.

    Parameters:
        x (ndarray): Training set (features of students)

    Returns:
        x (ndarray): Training set exposed to feature scaling (input to the model)
    """

    x = x.astype('float64')
    for column in range(x.shape[1]):
        x[:, column] = x[:, column] / x[:, column].max()

    return x

In [104]:
x = normalize(x)
x

array([[0.        , 0.        , 0.81818182, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.77272727, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.68181818, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [1.        , 1.        , 0.95454545, ..., 0.        , 1.        ,
        0.        ],
       [1.        , 1.        , 0.81818182, ..., 0.        , 1.        ,
        0.        ],
       [1.        , 1.        , 0.86363636, ..., 0.        , 0.        ,
        0.        ]])

In [105]:
type(x)

numpy.ndarray

In [106]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7)

In [107]:
x_train

array([[0.        , 0.        , 0.81818182, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.72727273, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 1.        , 0.68181818, ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.        , 1.        , 0.77272727, ..., 0.        , 0.        ,
        1.        ],
       [0.        , 1.        , 0.68181818, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.81818182, ..., 0.        , 1.        ,
        0.        ]])

In [108]:
len(x_train)

276

In [109]:
len(y_train)

276

In [110]:
# LinearRegression model
model = LinearRegression()

In [111]:
model.fit(x_train, y_train)

LinearRegression()

In [112]:

r_sq = model.score(x_test, y_test)
model.intercept_
#model.coef_

2.898722645068043

In [113]:
r_sq

0.8134038176438465

In [114]:
def compute_model(x, y):
    """
    
    Computes a linear regression model using the LinearRegression class.
    
    Parameters:
        x (ndarray): Shape (m,n) Input for the model
        y (ndarray): Shape (m,) Output for the model
        
    Returns:
        w (ndarray): Shape (n,) Fitted parameters of the model (coefficients)
        b (scalar): Fitted parameter of the model (intercept)
    """
    model = LinearRegression()
    model.fit(x,y)
    
    w = model.coef_
    b = model.intercept_
    
    return w, b

In [115]:
compute_model(x_train, y_train)[1]

2.898722645068043

In [117]:
#data = data[["school", "sex", "age", "Mjob", "Fjob", "higher", "activities", "G1", "G2", "G3"]]

In [ ]:
def new_student(x):
    """
    
    Creates an array of features for a new student. 
    
    Parameters:
        x (pandas dataframe): Shape(m,n) Training set to the model. Defines the features for a new student
        
    Returns:
        new (ndarray): 
    """
    
    new_data = []
    for column in x.columns:
        if x[column].dtype == "object":
            inp = input("Please write the ", column, " of a student (", x[column].unique(), "): ")
             while inp not in x[collumn].unique():
                print("Invalid feature! Please try again!")
        else:
            break

In [129]:
print("Hello ", "World")

Hello  World