In [3]:
from my_functions import *
import numpy as np
from sklearn.linear_model import LinearRegression

In [5]:
x, y = load_data("data/student-mat.csv")

C:\Users\Admin\Desktop\Project\my_functions.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[column] = encoder.fit_transform(data[column])

In [6]:
x

,school,sex,age,higher,activities,G1,G2,m_at_home,m_health,m_other,m_services,f_at_home,f_health,f_other,f_services
0,0,0,18,1,0,5,6,1,0,0,0,0,0,0,0
1,0,0,17,1,0,5,5,1,0,0,0,0,0,1,0
2,0,0,15,1,0,7,8,1,0,0,0,0,0,1,0
3,0,0,15,1,1,15,14,0,1,0,0,0,0,0,1
4,0,0,16,1,0,6,10,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,0,9,9,0,0,0,1,0,0,0,1
391,1,1,17,1,0,14,16,0,0,0,1,0,0,0,1
392,1,1,21,1,0,10,8,0,0,1,0,0,0,1,0
393,1,1,18,1,0,11,12,0,0,0,1,0,0,1,0
394,1,1,19,1,0,8,9,0,0,1,0,1,0,0,0

In [7]:
y

0       6
1       6
2      10
3      15
4      10
       ..
390     9
391    16
392     7
393    10
394     9
Name: G3, Length: 395, dtype: int64