In [91]:
import pandas as pd
import pytest
from my_functions import *
import math

In [7]:
x, y = load_data("test_data/test_load_data.csv")

In [9]:
x

          school sex  age      Mjob      Fjob higher activities  G1  G2
0         Moscow   F   18   teacher  services     no         no  15  13
1         Moscow   M   20   teacher     other    yes         no  13   6
2  S.-Petersburg   F   22   at_home    health     no        yes  20   5
3  S.-Petersburg   F   24  services   teacher    yes        yes  19   5
4     Zelenograd   M   18    health     other    yes         no  11  14
5     Zelenograd   F   20     other  services    yes        yes  15  17

In [18]:
y
x["Fjob"].iloc[3]

'teacher'

In [21]:
def test_data_load(sdfsad):
    x, y = load_data("test_data/test_load_data.csv")
    assert y[3] == 15
    assert x["Fjob"].iloc[3] == "teacher"

In [22]:
x, y = load_data()

TypeError: load_data() missing 1 required positional argument: 'file_name'

In [23]:
    x, y = load_data("test_data/test_data.csv")
    x_dummy = dummy_matrices(x)

C:\Users\Admin\Desktop\Project\my_functions.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_num[column] = non_num[column].apply(lambda x: column[0].lower() + "_" + x)

In [24]:
x_dummy

,sex,age,higher,activities,G1,G2,s_Moscow,s_S.-Petersburg,s_Zelenograd,m_at_home,m_health,m_other,m_services,m_teacher,f_health,f_other,f_services,f_teacher
0,0,18,0,0,15,13,1,0,0,0,0,0,0,1,0,0,1,0
1,1,20,1,0,13,6,1,0,0,0,0,0,0,1,0,1,0,0
2,0,22,0,1,20,5,0,1,0,1,0,0,0,0,1,0,0,0
3,0,24,1,1,19,5,0,1,0,0,0,0,1,0,0,0,0,1
4,1,18,1,0,11,14,0,0,1,0,1,0,0,0,0,1,0,0
5,0,20,1,1,15,17,0,0,1,0,0,1,0,0,0,0,1,0

In [25]:
x_dummy.shape[1]

18

In [27]:
x_dummy["s_Moscow"].iloc[1]

1

In [32]:
x_dummy

,sex,age,higher,activities,G1,G2,s_Moscow,s_S.-Petersburg,s_Zelenograd,m_at_home,m_health,m_other,m_services,m_teacher,f_health,f_other,f_services,f_teacher
0,0,18,0,0,15,13,1,0,0,0,0,0,0,1,0,0,1,0
1,1,20,1,0,13,6,1,0,0,0,0,0,0,1,0,1,0,0
2,0,22,0,1,20,5,0,1,0,1,0,0,0,0,1,0,0,0
3,0,24,1,1,19,5,0,1,0,0,0,0,1,0,0,0,0,1
4,1,18,1,0,11,14,0,0,1,0,1,0,0,0,0,1,0,0
5,0,20,1,1,15,17,0,0,1,0,0,1,0,0,0,0,1,0

In [35]:
x_dummy.select_dtypes(include = "object").shape[1]

0

In [39]:
x_num, y_num = load_data("test_data/test_data_numeric_features.csv")
x_num

   school  sex  age  Mjob  Fjob  higher  activities  G1  G2
0      10   10   10    10    10      10          10  10  10
1      11   11   11    11    11      11          11  11  11
2      12   12   12    12    12      12          12  12  12

In [43]:
dummy_matrices(x_num).equals(x_num)

True

In [48]:
df = pd.read_csv("test_data/data_for_testing_compute_model.csv")
df["x"]

0    1
1    2
2    3
Name: x, dtype: int64

In [80]:
x = np.array([[1,2,3]])
y = [5,8,11]

x = pd.DataFrame(x)
y = pd.DataFrame(y)

w, b, r_sq = compute_model(x,y)
print(w,"\n",b,"\n",r_sq)

w.shape

[[3.]]
 [2.]
 1.0

(1, 1)

In [82]:
float(w)

2.9999999999999996

In [75]:
a1 = 1
a2 = 2
a3 = 3

In [77]:
a1 ==1 and a2 == 2 and a3 == 3

True

In [89]:
x = [1,2,3]
y = [5,8,11]

x = pd.DataFrame(x)
y = pd.DataFrame(y)

w, b, r_sq = compute_model(x,y)
print(w,"\n",b,"\n",r_sq)

w

[[3.]]
 [2.]
 1.0

array([[3.]])

In [92]:
math.isclose(w, 3)

True

In [94]:
math.isclose(b, 2)

True

In [100]:
x = [10]
y = [10]

x = pd.DataFrame(x)
y = pd.DataFrame(y)

w, b, r_sq = compute_model(x, y)
#print(w,"\n",b,"\n",r_sq)
r_sq

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

nan

In [108]:
math.isnan(r_sq)

True

In [ ]:
x, y = load_data("test_data/test_load_data.csv")

In [ ]:
new_student(x)