In [2]:
import pandas as pd
import pytest
from my_functions import *
import math

In [3]:
x, y = load_data("test_data/test_data.csv")

In [4]:
lorenzo = new_student(x)

Please write the school of a student (['Moscow' 'S.-Petersburg' 'Zelenograd']): Moscow
Please write the sex of a student (['F' 'M']): M
Please write the age of a student (from 15 to 25): 25

KeyboardInterrupt: Interrupted by user

In [8]:
y
x["Fjob"].iloc[3]

'teacher'

In [9]:
def test_data_load(sdfsad):
    x, y = load_data("test_data/test_load_data.csv")
    assert y[3] == 15
    assert x["Fjob"].iloc[3] == "teacher"

In [10]:
x, y = load_data()

TypeError: load_data() missing 1 required positional argument: 'file_name'

In [11]:
    x, y = load_data("test_data/test_data.csv")
    x_dummy = dummy_matrices(x)

C:\Users\Admin\Desktop\Project\my_functions.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_num[column] = non_num[column].apply(lambda x: column[0].lower() + "_" + x)

In [12]:
x_dummy

,sex,age,higher,activities,G1,G2,s_Moscow,s_S.-Petersburg,s_Zelenograd,m_at_home,m_health,m_other,m_services,m_teacher,f_health,f_other,f_services,f_teacher
0,0,18,0,0,15,13,1,0,0,0,0,0,0,1,0,0,1,0
1,1,20,1,0,13,6,1,0,0,0,0,0,0,1,0,1,0,0
2,0,22,0,1,20,5,0,1,0,1,0,0,0,0,1,0,0,0
3,0,24,1,1,19,5,0,1,0,0,0,0,1,0,0,0,0,1
4,1,18,1,0,11,14,0,0,1,0,1,0,0,0,0,1,0,0
5,0,20,1,1,15,17,0,0,1,0,0,1,0,0,0,0,1,0

In [13]:
x_dummy.shape[1]

18

In [14]:
x_dummy["s_Moscow"].iloc[1]

1

In [15]:
x_dummy

,sex,age,higher,activities,G1,G2,s_Moscow,s_S.-Petersburg,s_Zelenograd,m_at_home,m_health,m_other,m_services,m_teacher,f_health,f_other,f_services,f_teacher
0,0,18,0,0,15,13,1,0,0,0,0,0,0,1,0,0,1,0
1,1,20,1,0,13,6,1,0,0,0,0,0,0,1,0,1,0,0
2,0,22,0,1,20,5,0,1,0,1,0,0,0,0,1,0,0,0
3,0,24,1,1,19,5,0,1,0,0,0,0,1,0,0,0,0,1
4,1,18,1,0,11,14,0,0,1,0,1,0,0,0,0,1,0,0
5,0,20,1,1,15,17,0,0,1,0,0,1,0,0,0,0,1,0

In [16]:
x_dummy.select_dtypes(include = "object").shape[1]

0

In [17]:
x_num, y_num = load_data("test_data/test_data_numeric_features.csv")
x_num

   school  sex  age  Mjob  Fjob  higher  activities  G1  G2
0      10   10   10    10    10      10          10  10  10
1      11   11   11    11    11      11          11  11  11
2      12   12   12    12    12      12          12  12  12

In [18]:
dummy_matrices(x_num).equals(x_num)

True

In [19]:
df = pd.read_csv("test_data/data_for_testing_compute_model.csv")
df["x"]

FileNotFoundError: [Errno 2] No such file or directory: 'test_data/data_for_testing_compute_model.csv'

In [20]:
x = np.array([[1,2,3]])
y = [5,8,11]

x = pd.DataFrame(x)
y = pd.DataFrame(y)

w, b, r_sq = compute_model(x,y)
print(w,"\n",b,"\n",r_sq)

w.shape

ValueError: Found input variables with inconsistent numbers of samples: [1, 3]

In [21]:
float(w)

NameError: name 'w' is not defined

In [22]:
a1 = 1
a2 = 2
a3 = 3

In [23]:
a1 ==1 and a2 == 2 and a3 == 3

True

In [24]:
x = [1,2,3]
y = [5,8,11]

x = pd.DataFrame(x)
y = pd.DataFrame(y)

w, b, r_sq = compute_model(x,y)
print(w,"\n",b,"\n",r_sq)

w

[[3.]]
 [2.]
 1.0

array([[3.]])

In [25]:
math.isclose(w, 3)

True

In [26]:
math.isclose(b, 2)

True

In [27]:
x = [10]
y = [10]

x = pd.DataFrame(x)
y = pd.DataFrame(y)

w, b, r_sq = compute_model(x, y)
#print(w,"\n",b,"\n",r_sq)
r_sq

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

nan

In [28]:
math.isnan(r_sq)

True

In [29]:
x, y = load_data("test_data/test_data.csv")

In [30]:
lorenzo = new_student(x)

Please write the school of a student (['Moscow' 'S.-Petersburg' 'Zelenograd']): Moscow
Please write the sex of a student (['F' 'M']): M
Please write the age of a student (from 15 to 25): 18
Please write the Mjob of a student (['teacher' 'at_home' 'services' 'health' 'other']): at_home
Please write the Fjob of a student (['services' 'other' 'health' 'teacher']): services
Please write the higher of a student (['no' 'yes']): yes
Please write the activities of a student (['no' 'yes']): yes
Please write the G1 of a student (from 0 to 20): 20
Please write the G2 of a student (from 0 to 20): 20

In [ ]:
def new_student(x):
    """
    
    Creates an array of features for a new student. 
    
    Parameters:
        x (pandas dataframe): Shape(m,n) Training set to the model. Defines the features for a new student
        
    Returns:
        new (pandas dataframe): Shape(1,n) A new example of a student
    """
    
    new_data = {}
    
    for column in x.columns:
        #inp = "hi"
        if x[column].dtype == "object":
            inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
            while inp not in x[column].unique():
                print("Invalid feature! Please try again!")
                inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
                
        elif column == "age":
            while True:
                try:
                    inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
                    while inp < 15 or inp > 25:
                        print("Invalid feature! Please try again!")
                        inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
                except ValueError: 
                    print("Value Error for age! Please try again!")
                    continue
                
                if inp >= 15 or inp <= 25:
                    break
        
        
        elif column == "G1" or column == "G2":
            while True:
                try:
                    inp = int(input("Please write the " + column +" of a student (from " + str(0) + " to " + str(20) + "): "))
                    while inp < 0 or inp > 20:
                        print("Invalid grade! Please try again!")
                        inp = int(input("Please write the " + column +" of a student (from " + str(0) + " to " + str(20) + "): "))
                except ValueError:
                    print("Value Error for grade! Please try again!")
                    continue
                    
                if inp >= 0 or inp <= 20:
                    break
                    
                    
        new_data[column] = inp
    
    new = pd.DataFrame(new_data, index=[0])
        
        
    return new

In [ ]:
lorenzo = new_student(x)

In [6]:
lorenzo

   school sex  age     Mjob     Fjob higher activities  G1  G2
0  Moscow   M   20  teacher  teacher    yes        yes  20  20

In [8]:
lorenzo["school"] == "Moscow"

0    True
Name: school, dtype: bool

In [33]:
lorenzo = dummy_matrix_of_new_student(lorenzo, x)

C:\Users\Admin\Desktop\Project\my_functions.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_num[column] = non_num[column].apply(lambda x: column[0].lower() + "_" + x)

In [34]:
lorenzo

sex                 1
age                18
higher              1
activities          1
G1                 20
G2                 20
s_Moscow            1
s_S.-Petersburg     0
s_Zelenograd        0
m_at_home           1
m_health            0
m_other             0
m_services          0
m_teacher           0
f_health            0
f_other             0
f_services          1
f_teacher           0
Name: 0, dtype: int64

In [38]:
w, b, r_sq = compute_model(dummy_matrices(x),y)

C:\Users\Admin\Desktop\Project\my_functions.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  non_num[column] = non_num[column].apply(lambda x: column[0].lower() + "_" + x)

In [6]:
import pandas as pd
import pytest
from my_functions import *
import math

In [46]:
def dummy_matrices_new(data):
    """
    Turns categoraical features into dummy matrices.
    
    Parameters:
        data (pandas dataframe): Data with categorical features
        
    Returns:
        data (pandas dataframe): Data with dummy matrices
    """

    # Turning categorical features into numbers
    # Dummy matrices + Label Encoding
    non_num = data.select_dtypes(include="object")
    encoder = LabelEncoder()
    for column in non_num.columns:
        if len(non_num[column].unique()) == 2:
            data[column] = encoder.fit_transform(data[column])

        else:
            #non_num[column] = non_num[column].apply(lambda x: column[0].lower() + "_" + x)
            non_num.loc[:,column] = non_num.loc[:,column].apply(lambda x: column[0].lower() + "_" + x)
            dummies = pd.get_dummies(non_num[column])
            #dummies = dummies.drop([dummies.columns[-1]], axis=1)
            data = pd.concat([data, dummies], axis=1)
            data = data.drop([column], axis=1)

    return data

In [47]:
x, y = load_data("data/student-mat.csv")

In [50]:
x_dummy = dummy_matrices_new(x)
x_dummy

,school,sex,age,higher,activities,G1,G2,m_at_home,m_health,m_other,m_services,m_teacher,f_at_home,f_health,f_other,f_services,f_teacher
0,0,0,18,1,0,5,6,1,0,0,0,0,0,0,0,0,1
1,0,0,17,1,0,5,5,1,0,0,0,0,0,0,1,0,0
2,0,0,15,1,0,7,8,1,0,0,0,0,0,0,1,0,0
3,0,0,15,1,1,15,14,0,1,0,0,0,0,0,0,1,0
4,0,0,16,1,0,6,10,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,0,9,9,0,0,0,1,0,0,0,0,1,0
391,1,1,17,1,0,14,16,0,0,0,1,0,0,0,0,1,0
392,1,1,21,1,0,10,8,0,0,1,0,0,0,0,1,0,0
393,1,1,18,1,0,11,12,0,0,0,1,0,0,0,1,0,0
394,1,1,19,1,0,8,9,0,0,1,0,0,1,0,0,0,0

In [37]:
    non_num = data.select_dtypes(include="object")
    non_num

         Mjob      Fjob
0     at_home   teacher
1     at_home     other
2     at_home     other
3      health  services
4       other     other
..        ...       ...
390  services  services
391  services  services
392     other     other
393  services     other
394     other   at_home

[395 rows x 2 columns]

In [45]:
for column in non_num.columns:
    non_num.loc[:,column] = non_num.loc[:,column].apply(lambda x: column[0].lower() + "_" + x)

In [40]:
a = "abc"
a[1] + "all"

'ball'