In [1]:
from my_functions import *

In [2]:
x, y = load_data("data/student-mat.csv")

In [14]:
lorenzo = new_student()

TypeError: new_student() missing 1 required positional argument: 'x'

In [4]:
lorenzo

  school sex  age     Mjob     Fjob higher activities  G1  G2
0     GP   M   25  at_home  at_home    yes        yes  20  20

In [7]:
type(lorenzo)

pandas.core.frame.DataFrame

In [12]:
(lorenzo["school"] == "GP").any()

True

In [13]:
lorenzo["school"] == "GP"

0    True
Name: school, dtype: bool

In [16]:
lorenzo = new_student(x)
print("\n")
alessandro = new_student(x)

lorenzo.equals(alessandro)

Please write the school of a student (['GP' 'MS']): GP
Please write the sex of a student (['F' 'M']): F
Please write the age of a student (from 15 to 25): 15
Please write the Mjob of a student (['at_home' 'health' 'other' 'services' 'teacher']): health
Please write the Fjob of a student (['teacher' 'other' 'services' 'health' 'at_home']): health
Please write the higher of a student (['yes' 'no']): yes
Please write the activities of a student (['no' 'yes']): yes
Please write the G1 of a student (from 0 to 20): 20
Please write the G2 of a student (from 0 to 20): 02


Please write the school of a student (['GP' 'MS']): GP
Please write the sex of a student (['F' 'M']): F
Please write the age of a student (from 15 to 25): 19
Please write the Mjob of a student (['at_home' 'health' 'other' 'services' 'teacher']): health
Please write the Fjob of a student (['teacher' 'other' 'services' 'health' 'at_home']): teahce
Invalid feature! Please try again!
Please write the Fjob of a student (['teacher' 'other' 'services' 'health' 'at_home']): teacher
Please write the higher of a student (['yes' 'no']): yes
Please write the activities of a student (['no' 'yes']): yes
Please write the G1 of a student (from 0 to 20): 20
Please write the G2 of a student (from 0 to 20): 20

False

In [17]:
b = False
b == False

True