In [1]:
from my_functions import *

In [23]:
x, y = load_data("data/student-mat.csv")

In [24]:
lorenzo = new_student(x)

Please write the school of a student (['GP' 'MS']): GP
Please write the sex of a student (['F' 'M']): M
Please write the age of a student (from 15 to 25): 25
Please write the Mjob of a student (['at_home' 'health' 'other' 'services' 'teacher']): at_home
Please write the Fjob of a student (['teacher' 'other' 'services' 'health' 'at_home']): health
Please write the higher of a student (['yes' 'no']): ye
Invalid feature! Please try again!
Please write the higher of a student (['yes' 'no']): yes
Please write the activities of a student (['no' 'yes']): yes
Please write the G1 of a student (from 0 to 20): 20
Please write the G2 of a student (from 0 to 20): 20

In [25]:
lorenzo

  school sex  age     Mjob    Fjob higher activities  G1  G2
0     GP   M   25  at_home  health    yes        yes  20  20

In [26]:
(lorenzo["school"] == "GP").any()

True

In [27]:
lorenzo = dummy_matrix_of_new_student(lorenzo,x)
lorenzo

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

school         0
sex            1
age           25
higher         1
activities     1
G1            20
G2            20
m_at_home      1
m_health       0
m_other        0
m_services     0
m_teacher      0
f_at_home      0
f_health       1
f_other        0
f_services     0
f_teacher      0
Name: 0, dtype: int64

In [30]:
x, y = load_data("test_data/test_data.csv")
x

          school sex  age      Mjob      Fjob higher activities  G1  G2
0         Moscow   F   18   teacher  services     no         no  15  13
1         Moscow   M   20   teacher     other    yes         no  13   6
2  S.-Petersburg   F   22   at_home    health     no        yes  20   5
3  S.-Petersburg   F   24  services   teacher    yes        yes  19   5
4     Zelenograd   M   18    health     other    yes         no  11  14
5     Zelenograd   F   20     other  services    yes        yes  15  17

In [31]:
x = dummy_matrices(x)
x

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

,sex,age,higher,activities,G1,G2,s_Moscow,s_S.-Petersburg,s_Zelenograd,m_at_home,m_health,m_other,m_services,m_teacher,f_health,f_other,f_services,f_teacher
0,0,18,0,0,15,13,1,0,0,0,0,0,0,1,0,0,1,0
1,1,20,1,0,13,6,1,0,0,0,0,0,0,1,0,1,0,0
2,0,22,0,1,20,5,0,1,0,1,0,0,0,0,1,0,0,0
3,0,24,1,1,19,5,0,1,0,0,0,0,1,0,0,0,0,1
4,1,18,1,0,11,14,0,0,1,0,1,0,0,0,0,1,0,0
5,0,20,1,1,15,17,0,0,1,0,0,1,0,0,0,0,1,0

In [ ]:
def test_data_with_dummy_matrices_has_no_categorical_features(dummy_data):
    """
    This function tests that after applying dummy_matrices() to data it will not contain
    categorical features.
    """
    assert dummy_data.select_dtypes(include = "object").shape[1] == 0

def test_dummy_matrices_do_not_change_data_with_numeric_values():
    """
    This function tests a limit case when dummy_matrices() does not alter data with numeric features.
    """
    x_num, y_num = load_data("test_data/test_data_numeric_features.csv")
    assert dummy_matrices(x_num).equals(x_num)

In [56]:
def test_dummy_matrix_for_new_student_has_no_categorical_features():
    """
    This function tests that after applying dummy_matrix_for_new_student() to a new student's features they will not contain
    categorical features.
    """
    x, y = load_data("test_data/test_data.csv")
    alex = new_student(x)
    alex = dummy_matrix_of_new_student(alex, x)
    
    #assert alex.select_dtypes(include = "object").shape[1] == 0

Please write the school of a student (['Moscow' 'S.-Petersburg' 'Zelenograd']): Moscow
Please write the sex of a student (['F' 'M']): M
Please write the age of a student (from 15 to 25): 15
Please write the Mjob of a student (['teacher' 'at_home' 'services' 'health' 'other']): teacher
Please write the Fjob of a student (['services' 'other' 'health' 'teacher']): teacher
Please write the higher of a student (['no' 'yes']): ye
Invalid feature! Please try again!
Please write the higher of a student (['no' 'yes']): no
Please write the activities of a student (['no' 'yes']): no
Please write the G1 of a student (from 0 to 20): 2
Please write the G2 of a student (from 0 to 20): 2

In [57]:
type(alex)

pandas.core.frame.DataFrame

In [54]:
#alex = dummy_matrix_of_new_student(alex, x)

In [58]:
type(alex)

pandas.core.frame.DataFrame

In [59]:
alex = dummy_matrix_of_new_student(alex, x)

In [60]:
type(alex)

pandas.core.series.Series

In [61]:
alex =

sex                 1
age                15
higher              0
activities          0
G1                  2
G2                  2
s_Moscow            1
s_S.-Petersburg     0
s_Zelenograd        0
m_at_home           0
m_health            0
m_other             0
m_services          0
m_teacher           1
f_health            0
f_other             0
f_services          0
f_teacher           1
Name: 0, dtype: int64

In [62]:
alex.dtype

dtype('int64')

In [63]:
alex.dtype == "int64"

True

In [64]:
lorenzo = new_student(x)

Please write the school of a student (['Moscow' 'S.-Petersburg' 'Zelenograd']): 3
Invalid feature! Please try again!

KeyboardInterrupt: Interrupted by user