In [12]:
    import pandas as pd
    import my_functions as mf
    test_data = {"school": ["Hogwarts", "Nevermore"],
                 "sex": ["M", "F"],
                 "age": [15, 16],
                 "Mjob": ["teacher", "services"],
                 "Fjob": ["health", "services"],
                 "higher": ["yes", "yes"],
                 "activities": ["yes", "yes"],
                 "G1": [17, 18],
                 "G2": [14, 15],
                 "G3": [19, 19]}
    test_data = pd.DataFrame(test_data)
    test_data

      school sex  age      Mjob      Fjob higher activities  G1  G2  G3
0   Hogwarts   M   15   teacher    health    yes        yes  17  14  19
1  Nevermore   F   16  services  services    yes        yes  18  15  19

In [8]:
test_data_csv = test_data.to_csv("test_data.csv")

In [9]:
x, y = mf.load_data("test_data.csv")

In [10]:
x

      school sex  age      Mjob      Fjob higher activities  G1  G2
0   Hogwarts   M   15   teacher    health    yes        yes  17  14
1  Nevermore   F   16  services  services    yes        yes  18  15

In [11]:
y

0    19
1    19
Name: G3, dtype: int64

In [13]:
loaded_data = pd.concat([x,y], axis = 1)
loaded_data

      school sex  age      Mjob      Fjob higher activities  G1  G2  G3
0   Hogwarts   M   15   teacher    health    yes        yes  17  14  19
1  Nevermore   F   16  services  services    yes        yes  18  15  19

In [16]:
loaded_data.equals(test_data)

True

In [17]:
import os

In [18]:
file_name = "test_data.csv"

In [19]:
if(os.path.exists(file_name) and os.path.isfile(file_name)):
  os.remove(file_name)
  print("file deleted")
else:
  print("file not found")

file deleted

In [29]:
    test_data = {"school": ["Hogwarts", "Nevermore"],
                 "sex": ["M", "F"],
                 "age": [15, 16],
                 "Mjob": ["teacher", "services"],
                 "Fjob": ["health", "services"],
                 "higher": ["yes", "yes"],
                 "activities": ["yes", "yes"],
                 "G1": [17, 18],
                 #"G2": [1,2],
                 "G3": [19, 19]}

    test_data = pd.DataFrame(test_data)
    test_data_csv = test_data.to_csv("test_data.csv")

In [30]:
x, y = mf.load_data("test_data.csv")

KeyError: "['G2'] not in index"

In [13]:
    x = {"school": ["Hogwarts", "Hogwarts", "Nevermore"],
                 "sex": ["M", "F", "F"],
                 "age": [15, 14, 16],
                 "Mjob": ["teacher", "at_home", "services"],
                 "Fjob": ["health", "other", "services"],
                 "higher": ["yes", "no", "yes"],
                 "activities": ["no", "yes", "yes"],
                 "G1": [17, 18, 19],
                 "G2": [14, 15, 16],
                 }
    x = pd.DataFrame(x)
    mf.dummy_matrices(x)

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

,school,sex,age,higher,activities,G1,G2,m_at_home,m_services,m_teacher,f_health,f_other,f_services
0,0,1,15,1,0,17,14,0,0,1,1,0,0
1,0,0,14,0,1,18,15,1,0,0,0,1,0
2,1,0,16,1,1,19,16,0,1,0,0,0,1

In [34]:
x, y = mf.load_data("data/student-mat.csv")

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

,school,sex,age,higher,activities,G1,G2,m_at_home,m_health,m_other,m_services,m_teacher,f_at_home,f_health,f_other,f_services,f_teacher
0,0,0,18,1,0,5,6,1,0,0,0,0,0,0,0,0,1
1,0,0,17,1,0,5,5,1,0,0,0,0,0,0,1,0,0
2,0,0,15,1,0,7,8,1,0,0,0,0,0,0,1,0,0
3,0,0,15,1,1,15,14,0,1,0,0,0,0,0,0,1,0
4,0,0,16,1,0,6,10,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,1,1,20,1,0,9,9,0,0,0,1,0,0,0,0,1,0
391,1,1,17,1,0,14,16,0,0,0,1,0,0,0,0,1,0
392,1,1,21,1,0,10,8,0,0,1,0,0,0,0,1,0,0
393,1,1,18,1,0,11,12,0,0,0,1,0,0,0,1,0,0
394,1,1,19,1,0,8,9,0,0,1,0,0,1,0,0,0,0

In [14]:
    x = {"school": ["Hogwarts", "Hogwarts", "Nevermore"],
                 "sex": ["M", "F", "F"],
                 "age": [15, 14, 16],
                 "Mjob": ["teacher", "at_home", "services"],
                 "Fjob": ["health", "other", "services"],
                 "higher": ["yes", "no", "yes"],
                 "activities": ["no", "yes", "yes"],
                 "G1": [17, 18, 19],
                 "G2": [14, 15, 16],
                 }
    x = pd.DataFrame(x)
    x_dummy = mf.dummy_matrices(x)
    y = x_dummy

    x_dummy_test = {"school": [0, 0, 1],
                         "sex": [1, 0, 0],
                         "age": [15, 14, 16],
                         "higher": [1, 0, 1],
                         "activities": [0, 1, 1],
                         "G1": [17, 18, 19],
                         "G2": [14, 15, 16],
                         "m_at_home": [0, 1, 0],
                         "m_services": [0, 0, 1],
                         "m_teacher": [1, 0, 0],
                         "f_health": [1, 0, 0],
                         "f_other": [0, 1, 0],
                         "f_services": [0, 0, 1]
                 }
    x_dummy_test = pd.DataFrame(x_dummy_test)

C:\Users\Admin\anaconda3\lib\site-packages\pandas\core\indexing.py:1951: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[selected_item_labels] = value

In [15]:
x_dummy_test

,school,sex,age,higher,activities,G1,G2,m_at_home,m_services,m_teacher,f_health,f_other,f_services
0,0,1,15,1,0,17,14,0,0,1,1,0,0
1,0,0,14,0,1,18,15,1,0,0,0,1,0
2,1,0,16,1,1,19,16,0,1,0,0,0,1

In [16]:
x_dummy

,school,sex,age,higher,activities,G1,G2,m_at_home,m_services,m_teacher,f_health,f_other,f_services
0,0,1,15,1,0,17,14,0,0,1,1,0,0
1,0,0,14,0,1,18,15,1,0,0,0,1,0
2,1,0,16,1,1,19,16,0,1,0,0,0,1

In [20]:
x_dummy.equals(x_dummy)

True

In [18]:
x_dummy.columns == x_dummy_test.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True])

In [22]:
x_dummy.dtypes

school        int32
sex           int32
age           int64
higher        int32
activities    int32
G1            int64
G2            int64
m_at_home     uint8
m_services    uint8
m_teacher     uint8
f_health      uint8
f_other       uint8
f_services    uint8
dtype: object

In [24]:
x_dummy = x_dummy.astype("int64")

In [25]:
x_dummy.

,school,sex,age,higher,activities,G1,G2,m_at_home,m_services,m_teacher,f_health,f_other,f_services
0,0,1,15,1,0,17,14,0,0,1,1,0,0
1,0,0,14,0,1,18,15,1,0,0,0,1,0
2,1,0,16,1,1,19,16,0,1,0,0,0,1

In [23]:
x_dummy_test.dtypes

school        int64
sex           int64
age           int64
higher        int64
activities    int64
G1            int64
G2            int64
m_at_home     int64
m_services    int64
m_teacher     int64
f_health      int64
f_other       int64
f_services    int64
dtype: object

In [11]:
df.all()

school        True
sex           True
age           True
higher        True
activities    True
G1            True
G2            True
m_at_home     True
m_services    True
m_teacher     True
f_health      True
f_other       True
f_services    True
dtype: bool

In [27]:
x_num = pd.DataFrame([1, 2, 3], columns = ["Numeric values"])
x_num

   Numeric values
0               1
1               2
2               3

In [29]:
mf.dummy_matrices(x_num)

   Numeric values
0               1
1               2
2               3

In [33]:
from sklearn.linear_model import LinearRegression
x = [10]
y = [10]

x = pd.DataFrame(x)
y = pd.DataFrame(y)
w, b, r_sq = mf.compute_model(x, y)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\metrics\_regression.py:682: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

In [37]:
w == 0

array([[ True]])

In [38]:
b == 10

array([ True])

In [36]:
r_sq

nan

In [39]:
    new_student = {
        "school": "Nevermore",
        "sex": "M",
        "age": 16,
        "Mjob": "teacher",
        "Fjob": "health",
        "higher": "yes",
        "activities": "yes",
        "G1": 17,
        "G2": 14}
    new_student = pd.DataFrame(new_student, index=[0])

In [40]:
new_student

      school sex  age     Mjob    Fjob higher activities  G1  G2
0  Nevermore   M   16  teacher  health    yes        yes  17  14