In [6]:
    import pandas as pd
    import my_functions as mf
    test_data = {"school": ["Hogwarts", "Nevermore"],
                 "sex": ["M", "F"],
                 "age": [15, 16],
                 "Mjob": ["teacher", "services"],
                 "Fjob": ["health", "services"],
                 "higher": ["yes", "yes"],
                 "activities": ["yes", "yes"],
                 "G1": [17, 18],
                 "G2": [14, 15],
                 "G3": [19, 19]}
    test_data = pd.DataFrame(test_data)
    test_data

      school sex  age      Mjob      Fjob higher activities  G1  G2  G3
0   Hogwarts   M   15   teacher    health    yes        yes  17  14  19
1  Nevermore   F   16  services  services    yes        yes  18  15  19

In [8]:
test_data_csv = test_data.to_csv("test_data.csv")

In [9]:
x, y = mf.load_data("test_data.csv")

In [10]:
x

      school sex  age      Mjob      Fjob higher activities  G1  G2
0   Hogwarts   M   15   teacher    health    yes        yes  17  14
1  Nevermore   F   16  services  services    yes        yes  18  15

In [11]:
y

0    19
1    19
Name: G3, dtype: int64

In [13]:
loaded_data = pd.concat([x,y], axis = 1)
loaded_data

      school sex  age      Mjob      Fjob higher activities  G1  G2  G3
0   Hogwarts   M   15   teacher    health    yes        yes  17  14  19
1  Nevermore   F   16  services  services    yes        yes  18  15  19

In [16]:
loaded_data.equals(test_data)

True

In [17]:
import os

In [18]:
file_name = "test_data.csv"

In [19]:
if(os.path.exists(file_name) and os.path.isfile(file_name)):
  os.remove(file_name)
  print("file deleted")
else:
  print("file not found")

file deleted