In [1]:
from my_functions import *
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [38]:
def new_student(x):
    """
    
    Creates an array of features for a new student. 
    
    Parameters:
        x (pandas dataframe): Shape(m,n) Training set to the model. Defines the features for a new student
        
    Returns:
        new (pandas dataframe): 
    """
    
    new_data = {}
    #inp = 0
    for column in x.columns:
        if x[column].dtype == "object":
            inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
            while inp not in x[column].unique():
                print("Invalid feature! Please try again!")
                inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
        elif column == "age":
            
            inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
            while inp < 15 or inp > 25:
                try:
                    print("Please try again!")
                    inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
                except ValueError:
                    print("Invalid value! Please try again!")
        elif column == "G1" or column == "G2":
            inp = int(input("Please write the " + column +" of a student (from " + str(0) + " to " + str(20) + "): "))
            while inp < 0 or inp > 20:
                print("Please try again!")
        new_data[column] = inp
    
    df = pd.DataFrame(new_data, index=[0])
        
        
            
            
        
        
        
    return df

In [3]:
x, y = load_data("data/student-mat.csv")

In [4]:
x

    school sex  age      Mjob      Fjob higher activities  G1  G2
0       GP   F   18   at_home   teacher    yes         no   5   6
1       GP   F   17   at_home     other    yes         no   5   5
2       GP   F   15   at_home     other    yes         no   7   8
3       GP   F   15    health  services    yes        yes  15  14
4       GP   F   16     other     other    yes         no   6  10
..     ...  ..  ...       ...       ...    ...        ...  ..  ..
390     MS   M   20  services  services    yes         no   9   9
391     MS   M   17  services  services    yes         no  14  16
392     MS   M   21     other     other    yes         no  10   8
393     MS   M   18  services     other    yes         no  11  12
394     MS   M   19     other   at_home    yes         no   8   9

[395 rows x 9 columns]

In [5]:
#print(x["school"].unique())
print("This is " + str(x["school"].unique()))

This is ['GP' 'MS']

In [ ]:
    for column in x.columns:
        if x[column].dtype == "object":
            inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
            while inp not in x[column].unique():
                print("Invalid feature! Please try again!")
                inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
        elif column == "age":
            try:
                inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
                while inp < 15 or inp > 25:
                    print("Invalid feature! Please try again!")
                    inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
            except ValueError:
                while True: 
                    print("Value Error!")
                    inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))

In [63]:
for column in x.columns:
    if x[column].dtype == "object":
        #print(x[column].unique())
        inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
        while inp not in x[column].unique():
            print("Invalid feature! Please try again!")
            inp = input("Please write the " + column + " of a student (" + str(x[column].unique()) + "): ")
    elif column == "age":
        while True:
            try:
                inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
                while inp < 15 or inp > 25: 
                    print("Number is too low or too high! Please try again!")
                    inp = int(input("Please write the " + column +" of a student (from " + str(15) + " to " + str(25) + "): "))
            except ValueError:
                print("Value")
            if inp >= 15 and inp <= 25:
                break

Please write the school of a student (['GP' 'MS']): GP
Please write the sex of a student (['F' 'M']): F
Please write the age of a student (from 15 to 25): 30
Number is too low or too high! Please try again!
Please write the age of a student (from 15 to 25): 10
Number is too low or too high! Please try again!
Please write the age of a student (from 15 to 25): f
Value
Please write the age of a student (from 15 to 25): f
Value
Please write the age of a student (from 15 to 25): asdfs
Value
Please write the age of a student (from 15 to 25): sdfads
Value
Please write the age of a student (from 15 to 25): sdf
Value
Please write the age of a student (from 15 to 25): ds
Value
Please write the age of a student (from 15 to 25):
Value
Please write the age of a student (from 15 to 25): 13
Number is too low or too high! Please try again!
Please write the age of a student (from 15 to 25): 15

KeyboardInterrupt: Interrupted by user

In [57]:
new_example = new_student(x)

Please write the school of a student (['GP' 'MS']): GP
Please write the sex of a student (['F' 'M']): F
Please write the age of a student (from 15 to 25): f

ValueError: invalid literal for int() with base 10: 'f'

In [36]:
new_example

  school sex  age     Mjob      Fjob higher activities  G1  G2
0     GP   F   15  at_home  services    yes        yes   0   0

ValueError: Shape of passed values is (9, 1), indices imply (9, 9)

In [52]:
type(1)

int