In [4]:
import pandas as pd
import pytest
from my_functions import *

In [7]:
x, y = load_data("test_data/test_load_data.csv")

In [9]:
x

          school sex  age      Mjob      Fjob higher activities  G1  G2
0         Moscow   F   18   teacher  services     no         no  15  13
1         Moscow   M   20   teacher     other    yes         no  13   6
2  S.-Petersburg   F   22   at_home    health     no        yes  20   5
3  S.-Petersburg   F   24  services   teacher    yes        yes  19   5
4     Zelenograd   M   18    health     other    yes         no  11  14
5     Zelenograd   F   20     other  services    yes        yes  15  17

In [18]:
y
x["Fjob"].iloc[3]

'teacher'

In [19]:
def test_data_load():
    x, y = load_data("test_data/test_load_data.csv")
    assert y[3] == 15
    assert x["Fjob"].iloc[3] == "teacher"